h1 {
  text-align: center;
}

img{
	width: 70%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #92D6CC;}

tr:hover {background-color: #FCE6CC;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #439897;
  color: white;
}